.env
backend/.serverless
backend/.vscode
backend/dist
.env.dev
.env.test
dist
backend/node_modules
frontend/node_modules
frontend/.expo/

# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
